*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dashbord-font-size: 1.5rem; 
    --aside-text-color: white;
}

body {
    font-family: 'Roboto', serif;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
                        "sidebar header header header       header header header header        header header "
                        "sidebar section section section    section section section section    section section"
                        "sidebar section section section    section section section section    section section"
                        "sidebar section section section    section section section section    section section"
                        "sidebar section section section    section section section section    section section";
}

aside {
    grid-area: sidebar;
    background: #1992d4;
    color: var(--aside-text-color, white);
    font-weight: 700;
}
header {
    grid-area: header;
    background: #ffffff;
}
.main-section {
    grid-area: section;
    background: #e2e8f0;
}

li {
    list-style: none;
}

.aside__ul, .aside2__ul {
    width: 90%;
    padding-left: 10%;
}

aside h1 {
    padding: 2rem 0 1rem 10%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    font-size: var(--dashbord-font-size, 1.5rem)
}

.aside2__ul {
    padding: 1rem 0 0 10%;
}

aside ul li {
    padding: 0.5rem 0;
    display: flex;
    align-items: end;
    gap: 0.5rem;
    transition: all .2s;
}

aside ul li:hover {
    scale: 1.05;
}

aside svg {
    fill: var(--aside-text-color, white);
    width: calc(var(--dashbord-font-size, 1.5rem) + 1rem);
}

aside h1 span {
    padding-left: 0.5rem;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 2rem;
}

.search__div {
    display: flex;
    gap: 1rem;
}

input[type=search]{
    background: rgba(229, 226, 226, 0.5);
    width: 100%;
    border: solid 1px gray;
    border-radius: 15px;
}