*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dashbord-font-size: 1.5rem; 
    --aside-text-color: white;
    --blue: #1992d4;
    --blue-hover: #126fa0;
    --status-color: rgb(88, 87, 87);
}

body {
    font-family: 'Roboto', serif;
}

.main-container {
    display: grid;
    grid-template-areas: 
                        "sidebar header header header   header"
                        "sidebar section section section  section"
                        "sidebar section section section  section"
                        "sidebar section section section  section"
                        "sidebar section section section  section"
                        "sidebar section section section  section"
                        "sidebar section section section  section";
}

aside {
    grid-area: sidebar;
    background: var(--blue);
    color: var(--aside-text-color, white);
    font-weight: 700;
    min-width: 225px;
}
header {
    grid-area: header;
    background: #ffffff;
}
.main-section {
    grid-area: section;
    background: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

li {
    list-style: none;
}

.aside__ul, .aside2__ul {
    width: 90%;
    padding-left: 10%;
}

aside h1 {
    padding: 2rem 0 1rem 10%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    font-size: var(--dashbord-font-size, 1.5rem)
}

.aside2__ul {
    padding: 1rem 0 0 10%;
}

aside ul li {
    padding: 0.5rem 0;
    display: flex;
    align-items: end;
    gap: 0.5rem;
    transition: all .2s;
}

aside ul li:hover {
    scale: 1.05;
}

aside svg {
    fill: var(--aside-text-color, white);
    width: calc(var(--dashbord-font-size, 1.5rem) + 1rem);
}

aside h1 span {
    padding-left: 0.5rem;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0rem 2rem;
    gap: 3rem;
}

.search__div {
    display: flex;
    gap: 1rem;
}

input[type=search]{
    background: rgba(229, 226, 226, 0.5);
    width: 100%;
    border: solid 1px gray;
    border-radius: 15px;
}

.greeting_div {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    grid-row: 2 / -1;
}

.header-left {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 0 1rem 0;
}

.header-right {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 0 1rem 0;
}
.header-right div:nth-child(1) {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.header-right span {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.small-prfile-pic{
    width: 28px;
}

.header-right div:nth-child(2) {
    display: flex;
    gap: 1rem;
    grid-row: 2 / -1;
}

.header-right button {
    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--aside-text-color);
    font-weight: 700;
    transition: all .2s;
}

.header-right button:hover {
    background: var(--blue-hover);
}

.project__div {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1rem;
}

.card__div {
    background:white;
    min-height: 220px;
    padding: 1rem;
    border-radius: 10px;
    border-left: 8px solid orange;
    display: grid;
    align-content: space-around;
}

.icons__div {
    padding: 1rem 0 0 0;
    justify-self: end;
}

.announcements {
    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;
}

.announcements h3 {
    padding: 1rem 0 0.5rem 0;
}

.announcements div:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0 0 1rem 0;
}

.announcements div:first-child p{
    padding: 0 0 1rem 0;
} 

.trending {
    background: white;
    padding: 2rem 3rem;
    border-radius: 10px;
}
.trending img {
    width: 50px;
}

.trending>div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
}

.user-name {
    font-size: 0.9rem;
}

.status {
    font-size: 0.8rem;
    color: var(--status-color);
}